<!DOCTYPE html>
<html lang="en">

<%- include('lib/head'); %>
<body>
    <% if (config.statusCode) { %>
        <header>
            <main>
                <%= config.statusCode %>
            </main>
            <description>
                <%= config.text %>
            </description>
        </header>
    <% } else { %>
        <h1>
            <%= config.text %>
        </h1>
    <% } %>

    <% if (config.fileName == 'challenge.html') { %>
        ::CAPTCHA_BOX::
    <% } %>

    <% if (config.fileName == 'js-challenge.html') { %>
        ::IM_UNDER_ATTACK_BOX::
    <% } %>

    <% if (config.card) { %>
        <%- include('lib/card') -%>
    <% } %>
    <% if (config.reason) { %>
        <%- include('lib/reason') -%>
    <% } %>
    <%- include('lib/waifu') -%>
</body>

<%- include('lib/footer') -%>

<% if (config.fileName == '1xxx-error.html') { %>
    <none>
    ::CLOUDFLARE_ERROR_1000S_BOX::
    </none>
<% } %>

<% if (config.fileName == '5xx-error.html') { %>
    <none>
    ::CLOUDFLARE_ERROR_500S_BOX::
    </none>
<% } %>

<% if (config.script) { %>
    <script>
        (<%- config.script.toString() %>)()
    </script>
<% } %>

</html>
